<app-toolbar title="Carrito"></app-toolbar>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label>Total</ion-label>
    <ion-label slot="end">{{ totalCarrito |currency}}</ion-label>
  </ion-item>

  @for (item of listaProductos; track $index) {
  <app-card-carrito [producto]="item"></app-card-carrito>
  }

  <ion-button
    expand="block"
    color="primary"
    [disabled]="listaProductos.length === 0"
    (click)="hacerComanda()"
    >Pedir</ion-button  
  >
</ion-content>
