<ion-list class="ion-padding">
  <ion-list-header lines="full">
    <ion-label color="medium">
      <h2 style="font-size: 15px">ORDEN #{{ comanda.idComanda }}</h2></ion-label
    >
    <ion-badge color="dark" style="padding: 5px 8px">
      {{ comanda.mesa.nombreMesa }}
    </ion-badge>
  </ion-list-header>

  @for (detalle of listaDetalleComanda; track $index) {
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          alt="Imagen de bebida"
          src= {{detalle.bebida.url}}
        />
      </ion-thumbnail>
      <ion-label><h2> {{detalle.bebida.nombreBebida}} </h2></ion-label>
      <ion-label slot="end" class="ion-text-end" color="medium">
        <h2 style="font-size: 14px">CANTIDAD</h2>
        <ion-badge color="medium" style="padding: 5px 8px"> {{detalle.cantidad}} </ion-badge>
      </ion-label>
    </ion-item>
  }
</ion-list>
<ion-button
(click)="cambiarEstatusComanda(comanda.idComanda, comanda.estatusComanda)"
  color="tertiary"
  fill="outline"
  expand="block"
  style="margin: 0 30px"
>
  Listo
</ion-button>
