<ion-item-group style="margin-bottom: 20px;">
  <ion-item-divider>
    <ion-badge slot="end" color="light" style="padding: 5px 8px;">{{comanda.total | currency}} MXN</ion-badge>
    <ion-badge slot="end" [color]="asignarEstado(comanda.estatusComanda).color" style="padding: 5px 8px;">
      {{ asignarEstado(comanda.estatusComanda).text }}
    </ion-badge>
  </ion-item-divider>

  @for (detalle of listaDetalleComanda; track $index) {
  <ion-item>
    <ion-thumbnail slot="start">
      <img src= {{detalle.bebida.url}} alt="imagen del producto">
    </ion-thumbnail>

    <ion-label>
      <h2 style="margin: 0;"> {{detalle.bebida.nombreBebida}} </h2>
      <h2 style="margin: 0;">{{detalle.bebida.precioBebida | currency}} MXN</h2>
    </ion-label>

    <ion-label slot="end" style="text-align: right;">
      <p style="margin: 0;">{{detalle.precio | currency}} MXN</p>
      <p style="margin: 0;">X{{detalle.cantidad}}</p>
    </ion-label>
  </ion-item>
  }
</ion-item-group>
