<app-toolbar title="Mesas"></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [debounce]="1000"
    show-clear-button="focus"
    placeholder="Busca una bebida"
    class="ion-padding"
  ></ion-searchbar>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openModal('add')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines="full" inset="true">
    @for (item of [1,1,1]; track $index) {
      <app-tables-item></app-tables-item>
    }
  </ion-list>


</ion-content>
