<app-toolbar title="Pedidos"></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-segment class="segment" (ionChange)="segmentChanged($event)" [value]="selectedSegment">
    @if (rol !== 1) {
      <ion-segment-button value="preparacion">
        <ion-icon name="wine"></ion-icon>
        <ion-label class="label">Por preparar</ion-label>
      </ion-segment-button>
    }
    @else {
      <ion-segment-button value="entrega">
        <ion-icon name="notifications-circle"></ion-icon>
        <ion-label>Por entregar</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pago">
        <ion-icon name="wallet"></ion-icon>
        <ion-label>Pago solicitado</ion-label>
      </ion-segment-button>
    }

  </ion-segment>

  @if (selectedSegment === 'preparacion') {

  <ion-text
    color="medium"
    class="ion-text-center"
  >
  @if (listaBartenderComandas.length === 0) {
    <h3> No hay pedidos por preparar</h3>
  }
  </ion-text>

  @for (comanda of listaBartenderComandas; track $index) {
  <app-list-comanda [comanda]="comanda"></app-list-comanda>
  }
}

  @if (selectedSegment === 'entrega') {
    <ion-text
    color="medium"
    class="ion-text-center"
    >
    @if (listaMeseroComandas.length === 0) {
      <h3> No hay pedidos por entregar</h3>
    }
    </ion-text>

    @for (comanda of listaMeseroComandas; track $index) {
      <app-list-comanda [comanda]="comanda"></app-list-comanda>
    }

  }

  @if (selectedSegment === 'pago') {
    @for (comanda of listaPagoComandas; track $index) {
      <app-card-pago [ticket]="comanda"></app-card-pago>
    }
  }
</ion-content>
