.login-back{
  background-image: url('/assets/images/barback.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: relative;
}

.login-container{
  background-color: white;
  border-top-right-radius: 90px;
  position: absolute;
  bottom: 0;
}


ion-input{
  --border-radius: 10px !important;
  --background: #DBDBDB !important;
  --padding-bottom: 12px ;
  --padding-top: 12px;
  --padding-start:15px ;
  --padding-end:15px ;
}

.colInput{
  padding: 0 30px;
  margin-bottom: 15px;
}
