<div class="block ion-padding">
  <form [formGroup]="nForm" (ngSubmit)="save()">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 style="margin-bottom: 0">
            {{ modalType === "edit" ? "Editar Empleado" : "Agregar Empleado" }}
          </h1>
          <p style="margin-top: 3px">
            {{
              modalType === "edit"
                ? "Modificación de Empleado"
                : "Agregar Empleado"
            }}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked" class="input-label">Nombre</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input
            type="text"
            fill="outline"
            formControlName="nombreUsuario"
            name="name"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label position="stacked" class="input-label"
            >Apellido Paterno</ion-label
          >
        </ion-col>
        <ion-col size="12">
          <ion-input
            type="text"
            fill="outline"
            formControlName="apellidoPat"
            name="apellidoPat"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label position="stacked" class="input-label"
            >Apellido Materno</ion-label
          >
        </ion-col>
        <ion-col size="12">
          <ion-input
            type="text"
            fill="outline"
            formControlName="apellidoMat"
            name="apellidoMat"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label position="stacked" class="input-label"
            >Contraseña</ion-label
          >
        </ion-col>
        <ion-col size="12">
          <ion-input
            type="password"
            fill="outline"
            formControlName="contrasena"
            name="contrasena"
          ></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-label position="stacked" class="input-label">Rol</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-select
            aria-label="Rol"
            fill="outline"
            interface="popover"
            placeholder="Seleccione el rol"
            formControlName="rol"
            name="role"
            style="margin: 0"
          >
            <ion-select-option [value]="2">Bartender</ion-select-option>
            <ion-select-option [value]="1">Mesero</ion-select-option>
            <ion-select-option [value]="0">Administrador</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: 10px">
        <ion-col size="12">
          <ion-button expand="block" class="btn-save" type="submit"
            >Guardar</ion-button
          >
        </ion-col>
        <ion-col size="12">
          <ion-button
            expand="block"
            fill="outline"
            class="btn-cancel"
            (click)="dismissModal()"
            >Cancelar</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>
