<app-toolbar title="Bebidas"></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [debounce]="250"
    show-clear-button="focus"
    placeholder="Busca una bebida"
    class="ion-padding"
    (ionInput)="buscarBebidas($event)"
  ></ion-searchbar>

  <ion-text
    color="medium"
    class="ion-text-center"
    *ngIf="busquedaRealizada && listaBebidas.length === 0"
  >
    <h4>No se encontraron bebidas</h4>
  </ion-text>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openModalAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  @for (item of listaBebidas; track $index) {
  <app-drink-item [drink]="item"></app-drink-item>
  }
</ion-content>
