

ion-thumbnail {
  --size: 45px;
  --border-radius: 10px;
}


.block {
  width: 100%;
  height: fit-content;

}

ion-modal {
  --height: auto;
}


.input-label{
  font-size: 16px;
  font-weight: 600;
  color: 344054;
}

.btn-save{
  --background: #BF6A02;
  --color: white;
  --border-radius: 7px;
}

.btn-cancel{
  --border-color: #D0D5DD;
  --color: black;
  --border-radius: 7px;
}


