<app-toolbar title="Mesa"></app-toolbar>
<ion-content [fullscreen]="true">
  <div style="padding: 20px 20px">
    <img src="/assets/images/mesa.jpg" alt="profile cart" />
  </div>
  <div style="padding: 0 13px">
    <ion-card class="ion-card">
      <ion-card-header>
        <ion-card-subtitle>Cuenta</ion-card-subtitle>
        <ion-card-title style="font-weight: bold">
          {{user.nombreMesa}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  <div style="padding: 20px 20px">
    <ion-button expand="block" (click)="cerrarSesion()" >
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
