<app-toolbar title="Cuenta"></app-toolbar>
<ion-content [fullscreen]="true">
  <div style="padding: 20px 20px;">
    <img src="/assets/images/mesaProfile.jpg" alt="profile cart" />
  </div>
  <div style="padding:0 13px;">
    <ion-card class="ion-card">
      <ion-card-header>
        <ion-card-subtitle>Cuenta</ion-card-subtitle>
        <ion-card-title style="font-weight: bold;">Mesa #10</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  <div style="padding: 20px 20px;">
    <ion-button expand="block">
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
