<ion-card>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img src="{{ producto.url }}" alt="imagen del producto" />
    </ion-thumbnail>
    <ion-label>
      <h2>{{ producto.nombre }}</h2>
    </ion-label>
    <ion-label slot="end">
      <h2>{{ producto.precio | currency }} MXN</h2>
    </ion-label>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-item>
        <label class="labelCantidad">Cantidad</label>
        <ion-input
          [readonly]="true"
          value="{{ producto.cantidad }}"
          type="number"
          class="input-cantidad"
        ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item lines="none">
        <ion-button
          shape="round"
          fill="outline"
          color="primary"
          (click)="actualizarCantidad(producto.id, producto.cantidad - 1)"
          [disabled]="producto.cantidad <= 1"
        >
          <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-button
          shape="round"
          fill="outline"
          color="primary"
          (click)="actualizarCantidad(producto.id, producto.cantidad + 1)"
        >
          <ion-icon name="add-outline"></ion-icon>
        </ion-button>

        <ion-button
        slot="end"
          class="btn-eliminar"
          fill="outline"
          color="danger"
          (click)="eliminarProducto(producto.id)"
        >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-card>
