<div class="card-divider"></div>

<ion-card>
  <ion-item  lines="none">
    <ion-thumbnail slot="start">
      <img src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/2900285529b5e3cec0142dd262adf5b2/Derivates/846727c55a95b7b73bbb5c1280e923f9c7bf55b3.jpg" alt="imagen del producto">
    </ion-thumbnail>
    <ion-label>
      <h2>Mojito</h2>
    </ion-label>
    <ion-label slot="end">
      <h2>{{120 | currency}} MXN</h2>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-select interface="popover" label="Cantidad" placeholder="0">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
    </ion-select>
  </ion-item>
</ion-card>