<app-toolbar title="Menú"></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img
            src="/assets/images/drink.png"
            alt=""
          />
          <ion-card-content>
            <ion-card-title>Mojito</ion-card-title>
            <ion-card-subtitle>$125 MXN</ion-card-subtitle>
            <ion-button fill="outline" >
              <ion-icon color="primary" slot="start" name="cart-outline"></ion-icon>
              <ion-label color="primary">Añadir</ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="/assets/images/drink.png"
            alt=""
          />
          <ion-card-content>
            <ion-card-title>Mojito</ion-card-title>
            <ion-card-subtitle>$125 MXN</ion-card-subtitle>
            <ion-button fill="outline" >
              <ion-icon color="primary" slot="start" name="cart-outline"></ion-icon>
              <ion-label color="primary">Añadir</ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="/assets/images/drink.png"
            alt=""
          />
          <ion-card-content>
            <ion-card-title>Mojito</ion-card-title>
            <ion-card-subtitle>$125 MXN</ion-card-subtitle>
            <ion-button fill="outline" >
              <ion-icon color="primary" slot="start" name="cart-outline"></ion-icon>
              <ion-label color="primary">Añadir</ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="/assets/images/drink.png"
            alt=""
          />
          <ion-card-content>
            <ion-card-title>Mojito</ion-card-title>
            <ion-card-subtitle>$125 MXN</ion-card-subtitle>
            <ion-button fill="outline" >
              <ion-icon color="primary" slot="start" name="cart-outline"></ion-icon>
              <ion-label color="primary">Añadir</ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img
            src="/assets/images/drink.png"
            alt=""
          />
          <ion-card-content>
            <ion-card-title>Mojito</ion-card-title>
            <ion-card-subtitle>$125 MXN</ion-card-subtitle>
            <ion-button fill="outline" >
              <ion-icon color="primary" slot="start" name="cart-outline"></ion-icon>
              <ion-label color="primary">Añadir</ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
