<app-toolbar title="Menú"></app-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="limpiarlocal()">Limpiar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      @for (drink of listaBebidas; track $index) {
        <ion-col size="6">
          <ion-card>
            <img
              src= {{drink.url}}
              alt=""
            />
            <ion-card-content>
              <ion-card-title> {{drink.nombreBebida}} </ion-card-title>
              <ion-card-subtitle> {{drink.precioBebida | currency}} MXN</ion-card-subtitle>
              <ion-button fill="outline" (click)="agregarAlCarrito(drink)" >
                <ion-icon color="primary" slot="start" name="cart-outline"></ion-icon>
                <ion-label color="primary">Añadir</ion-label>
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
